.layout {
  height: auto;
  width: calc(100% - 20px);
  background: rgb(0, 97, 204);
  padding: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  top: 0;
  z-index: 2;
  padding-bottom: 0px;
  background: url("https://assets.msn.cn/weathermapdata/1/static/images/webps/v1.0/Clear Night.webp");
}